@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.customInput {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $VeryLightGrayisBlue;
  width: 100%;
  padding: 22px;
  color: $VeryDarkGrayishBlue;
  background: #fff;
  position: relative;
  margin-bottom: 2px;

  @include lessThan($tablet) {
    padding: 15px;
  }
  &:hover .removeButton {
    display: block;
  }
}

.checkboxContainer {
  width: 30px;
  height: 30px;
  border: 2px solid $LightGrayishBlue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 15px;
  user-select: none;
  transition: all 0.3s ease;

  .checkIcon {
    width: 15px;
    height: 15px;
    margin-left: 2px;
  }
}

.inputLabel {
  flex-grow: 1;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}

.removeButton {
  cursor: pointer;
  width: 18px;
  height: 18px;
  display: none;
  @include lessThan($mobile) {
    width: 16px;
    height: 16px;
  }
  @include lessThan($tablet) {
    display: block;
  }
}

.checked {
  background: $CheckBackground;
}

.checkedlabel {
  color: $LightGrayishBlue;
  text-decoration: line-through;
}
