@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 22px;
  box-shadow: 0px 12px 30px -25px rgba(0, 0, 0, 0.5);
  position: relative;
  border-radius: 0 0 7px 7px;

  @include lessThan($tablet) {
    padding: 15px;
    box-shadow: 0px 12px 30px -20px rgba(0, 0, 0, 0.5);
  }

  .quantityOfTasks {
    color: $DarkGrayishBlue;
  }

  .filterButtons,
  .filterButtonsMobile {
    display: flex;
    gap: 10px;

    @include lessThan($mobile) {
      display: none;
    }

    label {
      color: $DarkGrayishBlue;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        color: $VeryDarkGrayishBlue;
      }
    }

    input[type="radio"] {
      display: none;
    }

    .active {
      color: $BrightBlue;

      &:hover {
        color: $BrightBlue;
      }
    }
  }

  .clearButton {
    color: $DarkGrayishBlue;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: $VeryDarkGrayishBlue;
    }
  }

  .filterButtonsMobile {
    position: absolute;
    background-color: #fff;
    top: 70px;
    width: 100%;
    left: 0;
    justify-content: center;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0px 12px 30px -20px rgba(0, 0, 0, 0.5);

    @include lessThan($mobile) {
      display: flex;
    }
    @include biggerThan($mobile) {
      display: none;
    }
  }
}
